################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/24DG112073_Be2/24DG112073_Be2.csproj
/24DG112073_Be2/24DG112073_Be2.csproj
/24DG112073_Be2.sln
