@model _24DG112073_Be2.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">THEM DANH MUC</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @* Nhung Partical View vao form cha *@
    @Html.Partial("PVCreateEditCategory", Model)
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

