@model IEnumerable<_24DG112073_Be2.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">DANH SACH DANH MUC </h2>

<table class="table bg-info col-lg-12 col-md-6 col-sm-3">
    <p>
        @Html.ActionLink("Them moi", "Create", null, new { @class = "btn btn-primary " })
    </p>
    
        <tr>
            <th class="bg-success col-lg-8 col-md-4 col-sm-2">
                @*@Html.DisplayNameFor(model => model.CategoryName)*@
                TEN DANH MUC
            </th>
            <th class="bg-success col-lg-4 col-md-2 col-sm-1"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Cap nhat", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Xoa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }

    </table>

